In [2]:
!pip install pandas

/Users/miamayalykke/.zshenv:.:1: no such file or directory: /Users/miamayalykke/.cargo/env
Requirement already satisfied: pandas in /Users/miamayalykke/.pyenv/versions/3.12.4/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/miamayalykke/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/miamayalykke/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/miamayalykke/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/miamayalykke/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/miamayalykke/.pyenv/versions/3.12.4/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
general_path = '../data/raw/'
ALKO_df_path = general_path + 'ALKO6_subset.csv'
PRIS_df_path = general_path + 'PRIS111_subset.csv'
BEFOLK_df_path = general_path + 'BEFOLK2.csv'

In [5]:
ALKO_df = pd.read_csv(ALKO_df_path, header=[1])

In [6]:
ALKO_df.tail()

,,"Sales of lager equivalents, total (1000 litres) (alcohol 4,6 vol.)","Sales of wine, total (1000 litres)","Sales of spirits, total (1000 litres)","Sales of alcohol, total, pure alcohol (1000 litres)","Sales of beer, pure alcohol (1000 litres)","Sales of wine, pure alcohol (1000 litres)","Sales of spirits, pure alcohol (1000 litres)"
103,2024,363446,145320.0,19802.0,43741,16719,19201,7822
104,The table replaces [ALKO4](https://www.Statban...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,contain continued values. Sales numbers for ci...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,corrected for the years 2018 and 2020 due to e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,data from the Danish Tax Agency.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#refine dataset for easier analysis
ALKO_df.rename(columns={ALKO_df.columns[0]: "Year"}, inplace=True)
ALKO_df.columns

Index(['Year',
       'Sales of lager equivalents, total (1000 litres) (alcohol 4,6 vol.)',
       'Sales of wine, total (1000 litres)',
       'Sales of spirits, total (1000 litres)',
       'Sales of alcohol, total, pure alcohol (1000 litres)',
       'Sales of beer, pure alcohol (1000 litres)',
       'Sales of wine, pure alcohol (1000 litres)',
       'Sales of spirits, pure alcohol (1000 litres)'],
      dtype='object')

In [8]:
ALKO_df

,Year,"Sales of lager equivalents, total (1000 litres) (alcohol 4,6 vol.)","Sales of wine, total (1000 litres)","Sales of spirits, total (1000 litres)","Sales of alcohol, total, pure alcohol (1000 litres)","Sales of beer, pure alcohol (1000 litres)","Sales of wine, pure alcohol (1000 litres)","Sales of spirits, pure alcohol (1000 litres)"
0,1921,149500,4900.0,2437.0,8700,..,..,..
1,1922,125200,5900.0,4413.0,8600,..,..,..
2,1923,126800,6400.0,5900.0,9400,..,..,..
3,1924,129500,6200.0,5228.0,9200,..,..,..
4,1925,141800,4500.0,5681.0,9700,..,..,..
...,...,...,...,...,...,...,...,...
103,2024,363446,145320.0,19802.0,43741,16719,19201,7822
104,The table replaces [ALKO4](https://www.Statban...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,contain continued values. Sales numbers for ci...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,corrected for the years 2018 and 2020 due to e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,data from the Danish Tax Agency.,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Cleaning Year Column
ALKO_df["Year"] = pd.to_numeric(ALKO_df["Year"], errors="coerce")
ALKO_df.dropna(subset=["Year"])
ALKO_df = ALKO_df[(ALKO_df["Year"] >= 1921) & (ALKO_df["Year"] <= 2024)]
#cast to integer
ALKO_df["Year"] = ALKO_df["Year"].astype(int)

/var/folders/98/sjjsbdb517711_nbybdls1xw0000gn/T/ipykernel_2928/2470578564.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ALKO_df["Year"] = ALKO_df["Year"].astype(int)

In [10]:
ALKO_df.head()

,Year,"Sales of lager equivalents, total (1000 litres) (alcohol 4,6 vol.)","Sales of wine, total (1000 litres)","Sales of spirits, total (1000 litres)","Sales of alcohol, total, pure alcohol (1000 litres)","Sales of beer, pure alcohol (1000 litres)","Sales of wine, pure alcohol (1000 litres)","Sales of spirits, pure alcohol (1000 litres)"
0,1921,149500,4900.0,2437.0,8700,..,..,..
1,1922,125200,5900.0,4413.0,8600,..,..,..
2,1923,126800,6400.0,5900.0,9400,..,..,..
3,1924,129500,6200.0,5228.0,9200,..,..,..
4,1925,141800,4500.0,5681.0,9700,..,..,..

In [11]:
alko = ALKO_df.copy()
for c in alko.columns:
    if c != "Year":
        alko[c] = pd.to_numeric(alko[c].replace("..", pd.NA), errors="coerce")
rename_map = {
    "Sales of lager equivalents, total (1000 litres) (alcohol 4,6 vol.)": ("beer_litres", 1000),
    "Sales of wine, total (1000 litres)": ("wine_litres", 1000),
    "Sales of spirits, total (1000 litres)": ("spirits_litres", 1000),
    "Sales of alcohol, total, pure alcohol (1000 litres)": ("alco_total_pure_litres", 100),
    "Sales of beer, pure alcohol (1000 litres)": ("beer_pure_liters", 1000),
    "Sales of wine, pure alcohol (1000 litres)": ("wine_pure_liters", 1000),
    "Sales of spirits, pure alcohol (1000 litres)": ("spirits_pure_liters", 1000),
}

# Create new columns programmatically
for old, (new, factor) in rename_map.items():
    alko[new] = alko[old] * factor

# Drop old columns in one go
alko = alko.drop(columns=list(rename_map.keys()))

In [12]:
alko

,Year,beer_litres,wine_litres,spirits_litres,alco_total_pure_litres,beer_pure_liters,wine_pure_liters,spirits_pure_liters
0,1921,149500000.0,4900000.0,2437000.0,870000.0,NaN,NaN,NaN
1,1922,125200000.0,5900000.0,4413000.0,860000.0,NaN,NaN,NaN
2,1923,126800000.0,6400000.0,5900000.0,940000.0,NaN,NaN,NaN
3,1924,129500000.0,6200000.0,5228000.0,920000.0,NaN,NaN,NaN
4,1925,141800000.0,4500000.0,5681000.0,970000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
99,2020,355101000.0,161493000.0,19433000.0,4528500.0,16335000.0,21274000.0,7676000.0
100,2021,383236000.0,169023000.0,22897000.0,4893500.0,17629000.0,22261000.0,9044000.0
101,2022,377750000.0,151390000.0,22457000.0,4602300.0,17377000.0,19776000.0,8870000.0
102,2023,357604000.0,150059000.0,20713000.0,4440000.0,16450000.0,19769000.0,8182000.0
103,2024,363446000.0,145320000.0,19802000.0,4374100.0,16719000.0,19201000.0,7822000.0

In [13]:
PRIS_df = pd.read_csv(PRIS_df_path, header=1)

In [14]:
# First, name the columns temporarily
cols = PRIS_df.columns.tolist()
rename_map = {
    cols[0]: "raw_category",
      cols[1]: "period",
    cols[2]: "index",
    cols[3]: "pct_change_mom",
    cols[4]: "pct_change_yoy",
}
PRIS_df = PRIS_df.rename(columns=rename_map)

In [15]:

# 3) Identify category header rows (where a new category label appears in the first column)
#    These rows typically have period/index columns as NaN.
is_category_row = PRIS_df["raw_category"].notna() & PRIS_df["period"].isna()
PRIS_df.loc[is_category_row, "category"] = PRIS_df.loc[is_category_row, "raw_category"]
# 4) Forward-fill the category so every data row knows which category it belongs to
PRIS_df["category"] = PRIS_df["category"].ffill()


# 5) Keep only proper data rows — where 'period' looks like YYYYMmm (e.g., 2001M01)
period_mask = PRIS_df["period"].astype(str).str.fullmatch(r"\d{4}M\d{2}")
PRIS_df = PRIS_df[period_mask].copy()

# 6) Parse 'period' to a real date (month start)
#    Convert '2001M01' -> '2001-01-01'
PRIS_df["date"] = pd.to_datetime(
    PRIS_df["period"].str.replace("M", "-", regex=False) + "-01",
    format="%Y-%m-%d",
    errors="coerce",
)

# 7) Clean numeric columns
for col in ["index", "pct_change_mom", "pct_change_yoy"]:
    PRIS_df[col] = pd.to_numeric(PRIS_df[col], errors="coerce")

In [16]:
# 0) Start from your `data` right after creating the 'date' column
# Ensure tidy strings & numeric types
PRIS_df["Category"] = PRIS_df["category"].str.strip()
print(PRIS_df["Category"].unique())
for c in ["index", "pct_change_mom", "pct_change_yoy"]:
    PRIS_df[c] = pd.to_numeric(PRIS_df[c], errors="coerce")

# 1) Sort + set MultiIndex
PRIS_df = PRIS_df.sort_values(["Category", "date"]).set_index(["Category", "date"])

# 2) Drop exact duplicates (same category+date)
PRIS_df = PRIS_df[~PRIS_df.index.duplicated(keep="last")]

# 3) Fill MoM / YoY from the index (in percentage points)
def fill_changes_from_index(df):
    # df is one category (indexed by date)
    mom = df["index"].pct_change(1) * 100
    yoy = df["index"].pct_change(12) * 100
    df["pct_change_mom"] = df["pct_change_mom"].fillna(mom)
    df["pct_change_yoy"] = df["pct_change_yoy"].fillna(yoy)
    return df

PRIS_df = PRIS_df.groupby(level=0, group_keys=False).apply(fill_changes_from_index)

# 4) Quick gap check (monthly frequency): list missing months per category
def find_missing_months(df):
    # df is one category (indexed by date)
    idx = df.index.get_level_values("date")
    full = pd.date_range(idx.min(), idx.max(), freq="MS")
    missing = full.difference(idx)
    return pd.Series({"missing_months": list(missing)})

gap_report = (
    PRIS_df.reset_index()
        .groupby("Category")
        .apply(lambda g: find_missing_months(g.set_index("date")))
        .reset_index()
)

# Optional: if you want to forward/backfill pct changes (not index!) for tiny gaps:
# data[["pct_change_mom", "pct_change_yoy"]] = (
#     data.groupby(level=0)[["pct_change_mom", "pct_change_yoy"]]
#         .apply(lambda g: g.sort_index().ffill().bfill())
# )

# Done: tidy table
PRIS_df = PRIS_df[["index", "pct_change_mom", "pct_change_yoy"]]

['02.1.1.1 Spirits and liqueurs' '02.1.1.2 Alcoholic soft drinks'
 '02.1.2.1 Wine from grapes' '02.1.2.2 Wine from other fruits'
 '02.1.2.3 Fortified wines' '02.1.3.1 Lager beer'
 '02.1.3.3 Low and non-alcoholic beer']

/var/folders/98/sjjsbdb517711_nbybdls1xw0000gn/T/ipykernel_2928/2922516702.py:36: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: find_missing_months(g.set_index("date")))

In [17]:
PRIS_df

                                                index  pct_change_mom  \
Category                            date
02.1.1.1 Spirits and liqueurs       2001-01-01    NaN             NaN
                                    2001-02-01    NaN             NaN
                                    2001-03-01    NaN             NaN
                                    2001-04-01    NaN             NaN
                                    2001-05-01    NaN             NaN
...                                               ...             ...
02.1.3.3 Low and non-alcoholic beer 2025-05-01  113.4            10.4
                                    2025-06-01  106.8            -5.8
                                    2025-07-01  103.2            -3.4
                                    2025-08-01  106.8             3.5
                                    2025-09-01  107.5             0.7

                                                pct_change_yoy
Category                            date
02.1.1.1 Spirits and liqueurs       2001-01-01             NaN
                                    2001-02-01             NaN
                                    2001-03-01             NaN
                                    2001-04-01             NaN
                                    2001-05-01             NaN
...                                                        ...
02.1.3.3 Low and non-alcoholic beer 2025-05-01            -4.1
                                    2025-06-01            -0.4
                                    2025-07-01            -1.5
                                    2025-08-01            -5.7
                                    2025-09-01            -5.5

[2079 rows x 3 columns]

In [18]:
PRIS_df.index.get_level_values("Category").unique().tolist()

['02.1.1.1 Spirits and liqueurs',
 '02.1.1.2 Alcoholic soft drinks',
 '02.1.2.1 Wine from grapes',
 '02.1.2.2 Wine from other fruits',
 '02.1.2.3 Fortified wines',
 '02.1.3.1 Lager beer',
 '02.1.3.3 Low and non-alcoholic beer']

In [19]:
#index = 2015
pris_df = PRIS_df.reset_index()
pris_df["Year"] = pris_df["date"].dt.year
cpi_year = (pris_df.groupby(["Category","Year"], as_index=False)["index"]
            .mean()
            .rename(columns={"index":"cpi_index"}))
cpi_beer = cpi_year[cpi_year["Category"]=="02.1.3.1 Lager beer"][["Year","cpi_index"]]

In [20]:
cpi_beer

     Year   cpi_index
125  2001         NaN
126  2002         NaN
127  2003         NaN
128  2004         NaN
129  2005         NaN
130  2006         NaN
131  2007         NaN
132  2008         NaN
133  2009   98.383333
134  2010   97.908333
135  2011  100.041667
136  2012  108.725000
137  2013  109.275000
138  2014  102.758333
139  2015  100.000000
140  2016  100.108333
141  2017  101.583333
142  2018  104.583333
143  2019  105.725000
144  2020  103.091667
145  2021  103.091667
146  2022  110.550000
147  2023  118.958333
148  2024  124.491667
149  2025  124.477778

In [21]:
BEFOLK_df = pd.read_csv(BEFOLK_df_path, sep=";")

In [22]:
BEFOLK_df

      TID  INDHOLD
0    1901  2447300
1    1902  2476700
2    1903  2505800
3    1904  2532200
4    1905  2560300
..    ...      ...
120  2021  5840045
121  2022  5873420
122  2023  5932654
123  2024  5961249
124  2025  5992734

[125 rows x 2 columns]

In [23]:
BEFOLK_df.rename(columns={'TID': 'Year', 'INDHOLD': 'Population'}, inplace=True)
BEFOLK_df["Year"] = BEFOLK_df["Year"].astype(int)
BEFOLK_df["Population"] = BEFOLK_df["Population"].astype(int)

In [24]:
features = alko[["Year", "beer_litres"]].merge(BEFOLK_df, on="Year", how="left").merge(cpi_beer, on="Year", how="left")

In [25]:
features

     Year  beer_litres  Population   cpi_index
0    1921  149500000.0     3264500         NaN
1    1922  125200000.0     3305700         NaN
2    1923  126800000.0     3339700         NaN
3    1924  129500000.0     3372500         NaN
4    1925  141800000.0     3405700         NaN
..    ...          ...         ...         ...
99   2020  355101000.0     5822763  103.091667
100  2021  383236000.0     5840045  103.091667
101  2022  377750000.0     5873420  110.550000
102  2023  357604000.0     5932654  118.958333
103  2024  363446000.0     5961249  124.491667

[104 rows x 4 columns]

In [26]:
features.to_csv("../data/processed/joined_features.csv", index=False)