In [33]:
import numpy as np
import pandas as pd

In [34]:
features = pd.read_csv("../data/processed/joined_features.csv")

In [35]:
features = features.sort_values("Year").reset_index(drop=True)

In [36]:
# assert (features["beer_litres"] >= 0).all()
# assert (features["Population"] > 0).all()

In [37]:
features["Year"] = features["Year"].astype(int)
for col in ["beer_litres", "Population", "cpi_index"]:
    features[col] = pd.to_numeric(features[col], errors="coerce")

In [38]:
# per-capita + growth
features["beer_lpc"] = features["beer_litres"] / features["Population"]         # litres per capita
features["beer_lpc_yoy"] = features["beer_lpc"].pct_change()
features["beer_litres_yoy"] = features["beer_litres"].pct_change()

/var/folders/98/sjjsbdb517711_nbybdls1xw0000gn/T/ipykernel_6594/1619080777.py:3: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  features["beer_lpc_yoy"] = features["beer_lpc"].pct_change()
/var/folders/98/sjjsbdb517711_nbybdls1xw0000gn/T/ipykernel_6594/1619080777.py:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  features["beer_litres_yoy"] = features["beer_litres"].pct_change()

In [39]:
features["cpi_yoy"] = features["cpi_index"].pct_change()

In [40]:
features

,Year,beer_litres,Population,cpi_index,beer_lpc,beer_lpc_yoy,beer_litres_yoy,cpi_yoy
0,1921,149500000.0,3264500,NaN,45.795681,NaN,NaN,NaN
1,1922,125200000.0,3305700,NaN,37.873975,-0.172979,-0.162542,NaN
2,1923,126800000.0,3339700,NaN,37.967482,0.002469,0.012780,NaN
3,1924,129500000.0,3372500,NaN,38.398814,0.011361,0.021293,NaN
4,1925,141800000.0,3405700,NaN,41.636081,0.084306,0.094981,NaN
...,...,...,...,...,...,...,...,...
99,2020,355101000.0,5822763,103.091667,60.984965,-0.013205,-0.010370,-0.024907
100,2021,383236000.0,5840045,103.091667,65.622097,0.076037,0.079231,0.000000
101,2022,377750000.0,5873420,110.550000,64.315169,-0.019916,-0.014315,0.072347
102,2023,357604000.0,5932654,118.958333,60.277238,-0.062783,-0.053332,0.076059
103,2024,363446000.0,5961249,124.491667,60.968096,0.011461,0.016337,0.046515

In [41]:
#cap for 2015 and above:
features = features[features["Year"]>= 2015]

In [42]:
final_cols = [
    "Year",
    "beer_litres",
    "Population",
    "cpi_index",
    "beer_lpc",
    "beer_lpc_yoy",
    "beer_litres_yoy",
    "cpi_yoy"
]

features[final_cols].to_csv("../data/processed/final_features.csv", index=False)